.playarea {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked {
    background-color: cyan;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}